################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/software/projects/formatText/.vs/formatText/CopilotIndices/17.14.719.50355
/software/projects/formatText/.vs/formatText/FileContentIndex/4d85b498-74f2-4d65-a4ed-662e98ba5ee0.vsidx
/software/projects/formatText/.vs/formatText/FileContentIndex/992bf055-b9f2-4027-b427-ccf276a1038e.vsidx
/software/projects/formatText/.vs/formatText/v17/Browse.VC.db
*.db-shm
*.db-wal
*.opendb
